@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim-color: #0ea5ea;
  --prim-light: #a9baf989;
  --body-color: #0f172a;
  --bg-color: #131c31;
  --light-border: rgba(131, 131, 131, 0.3);
  --prim-gradient: linear-gradient(
      90deg,
      rgb(47, 193, 255),
      rgb(11, 209, 209) 51%,
      rgb(14, 165, 234)
    )
    var(--x, 0) / 200%;
  --prim-text-gradient: linear-gradient(
      90deg,
      rgb(47, 193, 255),
      rgb(3, 255, 217) 31%,
      rgb(14, 165, 234)
    )
    var(--x, 0) / 200%;

  --white: #fff;
  --black: #000;
  --text-light: rgb(170, 170, 170);
  --text: #fff;

  --NotoSerif: "Noto Sans", sans-serif;
  --Unbounded: "Unbounded", sans-serif;
  --Merienda: "Merienda", cursive;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

html.light {
  --prim-color: #00a2ff;
  --prim-light: #dbeafe;
  --body-color: #e8edf1;
  --bg-color: #ffffff;
  --light-border: #0ea5ea;
  --white: #000;
  --black: #fff;
  --text-light: rgb(0, 0, 0);
  --text: #344161;
}

.Merienda {
  font-family: var(--Merienda);
}
.NotoSerif {
  font-family: var(--NotoSerif);
}
.Unbounded {
  font-family: var(--Unbounded);
}

body,
html,
* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--white);
  overflow-x: hidden;
}
/* NavBar */

.menu-link a {
  font-weight: 600;
  transition: var(--transition-regular);
  color: var(--text-light);
  letter-spacing: 1px;
}

.menu-links {
  font-size: 1rem;
  color: var(--text-light);
  letter-spacing: 1px;
}

.btn {
  background: var(--prim-color);
  background: linear-gradient(
    90deg rgb(14, 165, 234),
    rgb(11, 209, 209) 51%,
    rgb(14, 165, 234) var(--x, 0) / 250%
  );
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  --x: 150% !important;
  transition: 0.5s;
  cursor: pointer;
}

/* Hero */

.hero {
  position: relative;
}

.hero-header {
  height: 100vh;
}

.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  width: 70%;
  height: 80%;
  background-image: url(../public/Hero-bg-shape1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.hero:before {
  content: "";
  position: absolute;
  top: 15%;
  left: 35%;
  width: 600px;
  height: 600px;
  background-image: url(../public/Hero-bg-shape1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.hero-inputs {
  transition: var(--transition-regular);
}
.hero-inputs:hover {
  box-shadow: 0px 0px 10px 0px #20b8ff7a;
}
.hero-inputs input {
  color: var(--text);
  &::placeholder {
    color: var(--text);
  }
}

.swiper-button-next .swiper-navigation-icon,
.swiper-button-prev .swiper-navigation-icon {
  display: none;
}

.swiper-btn i {
  color: var(--white);
}

.hero-swiper-next {
  left: 15% !important;
}

/* Highly Rated Article */

/* Title */

.title h1 {
  background: var(--prim-gradient);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
}

.article-card {
  transition: var(--transition-slow);
}
.article-card:hover {
  transform: translateY(-5px);
}

.link-btn {
  position: relative;
  z-index: 1;
}

.link-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--prim-color);
  transition: var(--transition-slow);
  opacity: 0.2;
  z-index: -1;
}

.link-btn:hover:after {
  width: 120px;
  border-radius: 10px;
  left: 50%;
  opacity: 0.5s;
}

/* MQ Section */

@media (max-width: 991px) {
  .hero {
    height: 100%;
  }
  .hero-swiper {
    margin-top: 5%;
  }
  .hero-swiper-next,
  .hero-swiper-prev {
    top: 160% !important;
  }
  .hero-swiper-next {
    left: 10% !important;
  }
}

@media (max-width: 575px) {
  .hero:before {
    width: 500px;
    top: 100%;
  }
  .hero:after {
    width: 500px;
  }
  .hero-swiper-next,
  .hero-swiper-prev {
    top: 50% !important;
  }
  .hero-swiper-next {
    left: 25% !important;
  }
}
